<?xml version="1.0" encoding="utf-8"?>
<!--
    Trivia Question Server
    
    F19 CSCI 466 Networks 
    
    Main application configuration file
    
    Phillip J. Curtiss, Associate Professor
    pcurtiss@mtech.edu, 406-496-4807
    Department of Computer Science, Montana Tech
  -->
<configuration>
    <configSections>
        <!-- Custom Section for opentdb settings in <k,v> pairs -->
        <section name="opentdbSettings"
                 type="System.Configuration.NameValueSectionHandler" />
    </configSections>
    <!-- load server application settings -->
    <appSettings configSource="server.config" />
    <!-- load opentdb web service settings -->
    <opentdbSettings configSource="opentdb.config" />
</configuration>
