<?xml version="1.0" encoding="utf-8"?>
<!--
    Trivia Question Server
    
    F19 CSCI 466 Networks 
    
    Open Trivia Database Web Service Settings
    customer config section in <k,v> pairs
    
    Phillip J. Curtiss, Associate Professor
    pcurtiss@mtech.edu, 406-496-4807
    Department of Computer Science, Montana Tech
    
    NOTE: Make sure this file's property [Copy to output directory]
    is set to [Copy if newer] so it can be found by main app.config
  -->
<opentdbSettings>
    <!-- api key for the trivia database server -->
    <add key="apiKey" value="" />
    <!-- base url to use for http requests -->
    <add key="baseURL" value="https://opentdb.com" />
    <!-- URIs for database features -->
    <add key="questionURI" value="/api.php" />
    <add key="categoryURI" value="/api_category.php" />
    <add key="categoryCountURI" value="/api_count.php" />
    <add key="countGlobalURI" value="/api_count_global.php" />
    <!-- token system for database -->
    <add key="tokenURI" value="/api_token.php" />
    <add key="tokenRequest" value="command=request" />
    <add key="tokenReset" value="command=reset" />
    <add key="tokenToken" value="token={_TOKEN}" />
    <!-- amount of questions to request -->
    <add key="amount" value="amount={_AMOUNT}" />
    <!-- how to encode request -->
    <add key="encode" value="encode={_ENCODE}" />
    <!-- category constraint -->
    <add key="category" value="category={_CATEGORY}" />
</opentdbSettings>
