<?xml version="1.0" encoding="utf-8"?>
<!--
    Trivia Question Server
    
    F19 CSCI 466 Networks 
    
    Server Configuration Settings
    main application settings section
    
    Phillip J. Curtiss, Associate Professor
    pcurtiss@mtech.edu, 406-496-4807
    Department of Computer Science, Montana Tech
    
    NOTE: Make sure this file's property [Copy to output directory]
    is set to [Copy if newer] so it can be found by main app.config
  -->
<appSettings>
    <!-- hostname/ip on which to listen for client connections -->
    <add key="Host" value="csdept10.cs.mtech.edu" />
    <!-- port on which to listen for client connections -->
    <add key="Port" value="30124" />
    <!-- number of client connection requests to queue while server is busy -->
    <!-- please use asyn/wait for client tasks to make this number small -->
    <add key="ListenQueue" value="10" />
    <!-- size of buffer for message exchanges with client -->
    <add key="BufferSize" value="1024" />
    <!-- amount of time idle without traffic before client connection closed -->
    <add key="idle" value="1200" />
</appSettings>
